*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    background-color: red;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    background-color: #eeecec;
    width: 100%;
    max-width: 1350px;
}
table thead tr th{
    background-color: #eeecec;
    padding: 10px;
    border: solid;
}
table tbody tr .teste{
    display: flex;
    flex-direction: column;
}
table tbody tr td{
    padding: 10px;
}