* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;

    table {
        overflow: auto;
        background-color: #FBFBFB;
        width: 100%;
        max-width: 1350px;
        border: solid 1px rgb(187, 186, 186);
        border-bottom: none;

        tbody {
            tr {

                td {
                    text-align: left;
                    border-bottom: solid 1px rgb(187, 186, 186);
                    padding: 10px 20px;

                    svg {
                        font-size: 25px;
                        cursor: pointer;
                    }

                    button {
                        padding: 5px;
                        color: #fff;
                        border: none;
                        max-width: 200px;
                    }

                    .btn-red {
                        background-color: red;
                    }

                    .btn-green {
                        background-color: green;
                    }
                }

                .teste {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;

                    .data {
                        font-weight: 700;
                        color: #000;
                    }

                    .valores {
                        font-size: 14px;
                    }
                }

            }
        }
    }
}